/**
 * Main stylesheet
 *
 * @module MSV
 * @package Stylesheet
 */
@import "mobile.css";

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.clr {
    clear: both;
}

/*fixed header and footer*/
@media (min-width: 768px) {
    body {
        padding-bottom: 60px;
    }

    body > footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    body > header {
        background-color: #009688;
        height: 60px;
    }

    body > header * {
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }

    body > header > div {
        position: fixed !important;
        width: 100%;
        height: 60px;
        top: 0;
        z-index: 100;
    }

    body > header.fixed > div {
        background-color: rgba(0, 150, 136, 0.8) !important;
    }

    body > header.fixed > div,
    body > header.fixed .navbar,
    body > header.fixed .navbar-nav,
    body > header.fixed .navbar-brand {
        height: 35px !important;
        min-height: 35px !important;
    }

    body > header.fixed .navbar-nav a {
        padding-top: 8px;
        padding-bottom: 7px;
    }

    body > header.fixed .navbar-form {
        margin: 0;
        padding: 3px 15px 4px;
    }

    body > header.fixed .navbar-brand {
        padding-top: 6px;
        padding-bottom: 6px;
        opacity: 1 !important;
        width: auto !important;
    }

    body > header .navbar-brand.logo-hide {
        opacity: 0;
        width: 0;
    }

}

img {
    max-width: 100%;
}

.navbar .navbar-brand {
    padding: 9px 15px 15px;
}

.navbar-brand > img {
    max-height: 100%
}

.label-warning {
    background-color: #FF820E !important;
}

.footer {
    padding: 0;
}

.footer .navbar.navbar, .navbar-default.navbar {
    margin-bottom: 0;
}

.footer .navbar .navbar-nav {
    text-align: left;
}

.footer .navbar .navbar-nav > li {
    display: inline-block;
    vertical-align: top;
}

/*.footer .navbar .navbar-nav>li>a{*/
/*color: #252525;*/
/*}*/
.login-logo {
    width: 30px;
    height: 33px;
}

.padding-100 {
    padding-top: 100px;
}

.padding-15 {
    padding-top: 15px;
}

.form-horizontal, .switch {
    background-color: #fff;
    padding: 19px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    border-radius: 2px;
    border: 0;
}

.form-horizontal .control-label {
    text-align: left !important;
}

.switch p {
    margin: 0;
}

/* index page posts */
.nav-tabs {
    border-radius: 2px;
}

.top-offset {
    margin-top: 10px;
}

.light-post {
    padding: 10px 0;
    border-top: 1px solid #849aa5;
}

.light-post a {
    font-size: 17px;
    color: #333333;
}

.nav-tabs {
    background: #289CD0;
}

.without-padding {
    padding: 0;
}

.without-padding-right {
    padding-right: 0;
}

.without-padding-left {
    padding-left: 0;
}

.top-offset-15 {
    margin-top: 15px;
}

.text-primary, .text-primary .user-profile-link {
    margin-bottom: 0;
    font-size: 13px;
}

.text-primary .user-profile-link {
    color: #009688
}

/* signup/login page */
.login-page {
    padding: 50px 0;
}

.login-page .heading h4 {
    height: 30px;
}

.login-page .heading img {
    height: 100%;
    width: auto;
    margin: -8px 0 0 8px;
}

.login-page .login-box {
    margin: 0 auto;
    width: 350px;
}

.login-page .login-box:first-of-type {
    margin-bottom: 20px;
    padding: 15px;
}

.login-box p {
    margin: 0;
}

.login-box .form-group:last-of-type {
    margin-bottom: -10px;
}

.login-box .form-group:last-of-type input,
.login-box .form-group:last-of-type button,
.login-box .form-group:last-of-type a {
    margin-bottom: 0;
}

/* menu */
.main-menu {
    height: 60px;
    margin: 20px 0;
}

.main-menu .main-logo {
    height: 100%;
}

.main-menu .main-logo img {
    height: 100%;
    width: auto;
}

.main-menu ul {
    list-style: none outside;
    margin: 0;
    padding: 17px 0;
}

.main-menu ul li {
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
}

.main-menu ul li a {
    display: block;
    padding: 6px 11px;
    text-decoration: none;
    background-color: #aaa !important;
    color: #fff !important;
    font-size: 14px;
    line-height: 100%;
    text-transform: none !important;
    margin: 0;
}

.main-menu ul li.active a,
.main-menu ul li a:hover {
    background-color: #009688 !important;
}

/* sidebar */
.list-group .panel-body {
    padding: 5px;
}

/* question page */
.question-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #849aa5;
}

.vote a {
    display: block;
    width: 22px;
    height: 12px;
    color: #333;
    margin: 0 auto;
}

.vote a > i {
    line-height: 13px;
    font-size: 32px;
    transform: translate(-5px, 0);
}

.vote .like-btn {
    width: 26px;
    height: 26px;
    margin: 15px auto 5px auto;
}

.vote .like-btn i {
    line-height: 26px;
    transform: translate(-2px, 0);
}

.post-signature .panel-body {
    padding: 5px 0 5px 10px;
}

.panel-body .user-action-time {
    font-size: 12px;
}

.panel-body .user-details {
    margin-top: 5px;
}

.user-details .user-avatar {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.user-details .user-profile-link {
    display: block;
}

.user-details .label {
    padding: .2em .5em .2em;
}

.separator {
    margin-bottom: 10px;
    border-bottom: 1px solid #849AA5;
}

/* admin */
.admin-page .navbar {
    margin: 0 -15px;
}

.admin-page .admin-menu {
    /*background: #009688;*/
}

.admin-page .admin-menu > li {
}

.admin-page .admin-menu > li > a {
    color: rgba(255, 255, 255, 0.843137);
    padding-left: 20px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.admin-page .admin-menu > li > a .fa {
    display: inline-block;
    width: 25px;
}

.admin-page .admin-menu > li > .badge {
    float: right;
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.81);
    color: #009688;
    padding: 4px 10px;
    font-size: 12px;
    display: inline-block;
    margin: 12px 10px;
}

.admin-page .admin-menu > li > .badge:hover {
    background-color: #fff;
}

.admin-page .admin-menu > li .badge:hover + a,
.admin-page .admin-menu > li.active > a:not(.badge),
.admin-page .admin-menu > li.open > a:not(.badge),
.admin-page .admin-menu > li > a:focus,
.admin-page .admin-menu > li > a:hover {
    background-color: #007c6e;
}

.admin-page .admin-menu > li.dropdown {
}

.admin-page .admin-menu > li.dropdown > a {
}

.admin-page .navbar,
.admin-page .admin-content {
    padding: 20px 0;
}

.admin-page .panel p.lead {
    margin-bottom: 0;
}

.admin-page .index h1 {
    margin-bottom: 25px;
}

.admin-page .index .nav-pills .badge {
    float: right;
}

.admin-page .list-group .list-group-item {
    overflow: visible;
}

.admin-page .least-content {
    text-align: right;
}

.admin-page table .btn-group {
    margin: 0;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
    background-color: rgba(255, 255, 255, 0.1)!important;
}
.avatar-card {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    text-align: center;
    padding: 17px;
    background: #f6f6f6;
    background: -moz-linear-gradient(top, #f6f6f6 1%, #f6f6f6 45%, #fff 45%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f6f6f6), color-stop(45%, #f6f6f6), color-stop(45%, #fff), color-stop(100%, #fff));
    background: -webkit-linear-gradient(top, #f6f6f6 1%, #f6f6f6 45%, #fff 45%, #fff 100%);
    background: -o-linear-gradient(top, #f6f6f6 1%, #f6f6f6 45%, #fff 45%, #fff 100%);
    background: -ms-linear-gradient(top, #f6f6f6 1%, #f6f6f6 45%, #fff 45%, #fff 100%);
    background: linear-gradient(to bottom, #f6f6f6 1%, #f6f6f6 45%, #fff 45%, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
}
.avatar-card .avatar {
    width: 215px;
    height: 220px;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
}

.avatar-card .reputation {
    padding: 5px 0 0 0;
    font-size: 22px;
    font-weight: 300;
    color: #292f33;
}

.user-card .user-card-name {
    color: #2a2a28 !important;
    font-weight: 700;
    font-size: 28px !important;
    margin: 10px 0 6px 0 !important;
    line-height: 28px;
    word-break: break-all;
}
.user-card .answers .number {
    display: block;
    color: #292f33;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
}
